
.roun1 {
  width: 100%;  
  margin-top: 3rem;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  justify-items: center;
}
.ro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.ro1 {
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  background: linear-gradient(
    102.03deg,
    #144714 25.61%,
    #41c741 81.22%,
    #287028 81.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.ro2 {
  color: #3f3d39;
  font-weight: 500;
}
.ro3 {
  background: linear-gradient(269.82deg, #2c7a2c -22.91%, #184a18 90.26%);
  height: 3rem;
  display: flex;
  padding: 15px;
  font-weight: 500;
  align-items: center;
  color: #fdf7ed;
}
.ro4 {
  color: #8a8479;
  font-size: small;
}
.gol-img {
  width: 6rem;
  margin-left: -3rem;
}
